@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

body {
  font-family: "lora", Rubik !important;
}
.color-tealish {
  color: #40d0d3;
}
.email-btn-bg {
  background-color: #40d0d3;
  border-radius: 12px;
  border: none;
  padding: 10px 35px 10px 35px;
  font-size: 14px;
  font-family: Rubik;
  font-weight: 500;
}
.gradient {
  background-image: linear-gradient(to right, #41d0d2, #fcc658);
}
.email-bg {
  background-image: url(../images/email-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 60%;
  min-height: 840px;
  border-radius: 10px;
  margin: 0 auto;
}
.main-width {
  width: 600px;
}

@media (min-width: 320px) {
  section {
    padding: unset !important;
  }
  .main-width {
    width: 360px !important;
  }
  button{
      width: 100% !important;
  }
  div{
      padding-left: unset !important;
padding-right: unset !important;  }
}
@media (min-width: 768px) {
    .main-width {
        width: 600px !important;
      }
  }
  @media (min-width: 992px) {
    .main-width {
        width: 600px !important;
      }
  }
